@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./btn.scss";

body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0 !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &::after {
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    content: " ";
    visibility: hidden;
  }
}

aside {
  display: block;
  padding: 8px 24px;
  margin-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 32px;
  color: #2c3e50;
  background: #eef1f6;
  border-radius: 2px;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  position: relative;
  margin: 30px 50px;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  position: relative;
  width: 100%;
  height: 50px;
  padding-right: 20px;
  line-height: 50px;
  text-align: right;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  transition: 600ms ease position;

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: middle;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// 自定义样式
body {
  --primary: #0084f9;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --muted: #6c757d;
  --white: #fff;
  --borderColor: #f2f2f2;
  --lightmuted: #b2b2b2;
  --gray: #f2f2f2;
  --lightblue: #0283ff;
  --dark-gray: #aaa;
  --light-gray: #bbb;
}

.app-container {
  padding: 30px;
}

/* 阴影 */
.shadow-sm {
  box-shadow: 0 2px 4px rgba(114, 130, 138, 0.2) !important;
}

.shadow {
  box-shadow: 0 8px 16px rgba(114, 130, 138, 0.2) !important;
}

.shadow-lg {
  box-shadow: 0 16px 48px rgba(114, 130, 138, 0.2) !important;
}

/* 定位 */
.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.right-0 {
  right: 0;
}

/* 控制padding 改变高度 */
.box-s {
  box-sizing: border-box;
}

/* 宽高 */
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.h-100 {
  height: 100%;
}

.h-50 {
  height: 50%;
}

/* 字体 */
.font {
  font-size: 24px;
}

.font-sm {
  font-size: 20px;
}

.font-md {
  font-size: 30px;
}

.font-lg {
  font-size: 40px;
}

.font-big {
  font-size: 60px;
}

.font-weight {
  font-weight: bold !important;
}

.font-weight-100 {
  font-weight: 100 !important;
}

.font-28 {
  font-size: 28px;
}

.font-24 {
  font-size: 24px;
}

.font-22 {
  font-size: 22px;
}

.font-30 {
  font-size: 30px;
}

.font-32 {
  font-size: 32px;
}

.line-h0 {
  line-height: 0 !important;
}

.line-h {
  line-height: 1 !important;
}

.line-h-sm {
  line-height: 1.2 !important;
}

.line-h-md {
  line-height: 1.8 !important;
}

.line-h-lg {
  line-height: 2 !important;
}

.line-h-big {
  line-height: 3 !important;
}

.line-through {
  text-decoration: line-through;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* 超长显示.. */
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-ellipsis-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.text-ellipsis-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: normal !important;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.row {
  display: flex !important;
  box-sizing: border-box !important;
  flex-direction: row;
  flex-wrap: wrap;
}

[class*="col-"],
[class*="span-"],
[class*="span24-"] {
  min-height: 1px;
  box-sizing: border-box !important;
}

/* 栅栏一 */
.col-1 {
  width: 62.5px;
}

.col-2 {
  width: 125px;
}

.col-3 {
  width: 187.5px;
}

.col-4 {
  width: 250px;
}

.col-5 {
  width: 312.5px;
}

.col-6 {
  width: 375px;
}

.col-7 {
  width: 437.5px;
}

.col-8 {
  width: 500px;
}

.col-9 {
  width: 562.5px;
}

.col-10 {
  width: 625px;
}

.col-11 {
  width: 687.5px;
}

.col-12 {
  width: 750px;
}

/* 栅栏二 */
.span-1 {
  width: 5%;
}

.span-2 {
  width: 10%;
}

.span-3 {
  width: 15%;
}

.span-4 {
  width: 20%;
}

.span-5 {
  width: 25%;
}

.span-6 {
  width: 30%;
}

.span-7 {
  width: 35%;
}

.span-8 {
  width: 40%;
}

.span-9 {
  width: 45%;
}

.span-10 {
  width: 50%;
}

.span-11 {
  width: 55%;
}

.span-12 {
  width: 60%;
}

.span-13 {
  width: 65%;
}

.span-14 {
  width: 70%;
}

.span-15 {
  width: 75%;
}

.span-16 {
  width: 80%;
}

.span-17 {
  width: 85%;
}

.span-18 {
  width: 90%;
}

.span-19 {
  width: 95%;
}

.span-20 {
  width: 100%;
}

/* 栅栏三 */
.span24-1 {
  width: 4.17%;
}

.span24-2 {
  width: 8.33%;
}

.span24-3 {
  width: 12.5%;
}

.span24-4 {
  width: 16.67%;
}

.span24-5 {
  width: 20.83%;
}

.span24-6 {
  width: 25%;
}

.span24-7 {
  width: 29.17%;
}

.span24-8 {
  width: 33.33%;
}

.span24-9 {
  width: 37.5%;
}

.span24-10 {
  width: 41.67%;
}

.span24-11 {
  width: 45.83%;
}

.span24-12 {
  width: 50%;
}

.span24-13 {
  width: 54.17%;
}

.span24-14 {
  width: 58.33%;
}

.span24-15 {
  width: 62.5%;
}

.span24-16 {
  width: 66.67%;
}

.span24-17 {
  width: 70.83%;
}

.span24-18 {
  width: 75%;
}

.span24-19 {
  width: 79.17%;
}

.span24-20 {
  width: 83.33%;
}

.span24-21 {
  width: 87.5%;
}

.span24-22 {
  width: 91.67%;
}

.span24-23 {
  width: 95.83%;
}

.span24-24 {
  width: 100%;
}

/* flex布局 */
.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-shrink {
  flex-shrink: 0;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-sb {
  justify-content: space-between;
}

.j-sa {
  justify-content: space-around;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.a-stretch {
  align-items: stretch;
}

.a-self-start {
  align-self: flex-start;
}

.a-self-auto {
  align-self: auto;
}

.a-self-end {
  align-self: flex-end;
}

.a-self-center {
  align-self: center;
}

.a-self-stretch {
  align-self: stretch;
}

.a-self-baseline {
  align-self: baseline;
}

/* Border */
.border {
  border-color: var(--borderColor);
  border-style: solid;
  border-width: 1px;
}

.border-top {
  border-top-color: var(--borderColor);
  border-top-style: solid;
  border-top-width: 1px;
}

.border-right {
  border-right-color: var(--borderColor);
  border-right-style: solid;
  border-right-width: 1px;
}

.border-bottom {
  border-bottom-color: var(--borderColor);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-left {
  border-left-color: var(--borderColor);
  border-left-style: solid;
  border-left-width: 1px;
}

.border-0 {
  border-width: 0;
}

.border-top-0 {
  border-top-width: 0;
}

.border-right-0 {
  border-right-width: 0;
}

.border-bottom-0 {
  border-bottom-width: 0;
}

.border-left-0 {
  border-left-width: 0;
}

.border-primary {
  border-color: var(--primary) !important;
}

.border-secondary {
  border-color: var(--secondary) !important;
}

.border-success {
  border-color: var(--success) !important;
}

.border-danger {
  border-color: var(--danger) !important;
}

.border-warning {
  border-color: var(--warning) !important;
}

.border-info {
  border-color: var(--info) !important;
}

.border-light {
  border-color: var(--light) !important;
}

.border-dark {
  border-color: var(--dark) !important;
}

.border-white {
  border-color: var(--white) !important;
}

.border-light-secondary {
  border-color: #f1f1f1 !important;
}

.rounded-circle {
  border-radius: 100%;
}

.radius-0 {
  border-radius: 0;
}

.radius-10 {
  border-radius: 10px;
}

.radius-20 {
  border-radius: 20px;
}

.radius-100 {
  border-radius: 100%;
}

/* color */
.text-primary {
  color: var(--primary) !important;
}

.text-secondary {
  color: var(--secondary) !important;
}

.text-success {
  color: var(--success) !important;
}

.text-danger {
  color: var(--danger) !important;
}

.text-warning {
  color: var(--warning) !important;
}

.text-info {
  color: var(--info) !important;
}

.text-light {
  color: var(--light) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.text-muted {
  color: var(--muted) !important;
}

.text-light-muted {
  color: var(--lightmuted) !important;
}

.text-white {
  color: var(--white) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-light-gray {
  color: var(--light-gray) !important;
}

.text-dark-gray {
  color: var(--dark-gray) !important;
}

.text-light-blue {
  color: var(--lightblue) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.bg-success {
  background-color: var(--success) !important;
}

.bg-danger {
  background-color: var(--danger) !important;
}

.bg-warning {
  background-color: var(--warning) !important;
}

.bg-info {
  background-color: var(--info) !important;
}

.bg-light {
  background-color: var(--light) !important;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-light-secondary {
  background-color: #f1f1f1 !important;
}

.bg-light-grey {
  background-color: #e6e6e6 !important;
}

.bg-light-blue {
  background-color: var(--lightblue) !important;
}

.bg-gray {
  background-color: var(--gray) !important;
}

/* Spacing */
.m-0 {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.m {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.m-1 {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.m-2 {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.m-3 {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.m-4 {
  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.m-5 {
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx {
  margin-right: 5px;
  margin-left: 5px;
}

.mx-1 {
  margin-right: 10px;
  margin-left: 10px;
}

.mx-2 {
  margin-right: 20px;
  margin-left: 20px;
}

.mx-3 {
  margin-right: 30px;
  margin-left: 30px;
}

.mx-4 {
  margin-right: 40px;
  margin-left: 40px;
}

.mx-5 {
  margin-right: 50px;
  margin-left: 50px;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-0 {
  margin-top: 0;
}

.mt {
  margin-top: 5px;
}

.mt-auto {
  margin-top: auto;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb {
  margin-bottom: 5px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.ml-0 {
  margin-left: 0;
}

.ml {
  margin-left: 5px;
}

.ml-auto {
  margin-left: auto;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.ml-auto {
  margin-left: auto;
}

.mr-0 {
  margin-right: 0;
}

.mr {
  margin-right: 5px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.mr-auto {
  margin-right: auto;
}

.p-0 {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.p {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.p-1 {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.p-2 {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.p-3 {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.p-4 {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.p-5 {
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.px-0 {
  padding-right: 0;
  padding-left: 0;
}

.px {
  padding-right: 5px;
  padding-left: 5px;
}

.px-1 {
  padding-right: 10px;
  padding-left: 10px;
}

.px-2 {
  padding-right: 20px;
  padding-left: 20px;
}

.px-3 {
  padding-right: 30px;
  padding-left: 30px;
}

.px-4 {
  padding-right: 40px;
  padding-left: 40px;
}

.px-5 {
  padding-right: 50px;
  padding-left: 50px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-5 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-0 {
  padding-top: 0;
}

.pt {
  padding-top: 5px;
}

.pt-1 {
  padding-top: 10px;
}

.pt-2 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 30px;
}

.pt-4 {
  padding-top: 40px;
}

.pt-5 {
  padding-top: 50px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb {
  padding-bottom: 5px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 30px;
}

.pb-4 {
  padding-bottom: 40px;
}

.pb-5 {
  padding-bottom: 50px;
}

.pl-0 {
  padding-left: 0;
}

.pl {
  padding-left: 5px;
}

.pl-1 {
  padding-left: 10px;
}

.pl-2 {
  padding-left: 20px;
}

.pl-3 {
  padding-left: 30px;
}

.pl-4 {
  padding-left: 40px;
}

.pl-5 {
  padding-left: 50px;
}

.pl-6 {
  padding-left: 60px;
}

.pr-0 {
  padding-right: 0;
}

.pr {
  padding-right: 5px;
}

.pr-1 {
  padding-right: 10px;
}

.pr-2 {
  padding-right: 20px;
}

.pr-3 {
  padding-right: 30px;
}

.pr-4 {
  padding-right: 40px;
}

.pr-5 {
  padding-right: 50px;
}
