#app {
  .main-container {
    position: relative;
    min-height: 100%;
    margin-left: $sideBarWidth;
    transition: margin-left 0.28s;
  }

  .sidebar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    width: $sideBarWidth !important;
    height: 100%;
    overflow: hidden;
    font-size: 0;
    background: $menuBg, $noise;
    transition: width 0.28s;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        // height: calc(100% - 50px); // TODO: 这是减去logo的高度
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    // 一个完整 ul 结构（废弃）
    .el-menu {
      width: 100% !important;
      height: 100%;
      background-color: $menuBg;
      border: none;
    }

    // sw: 高亮侧边栏
    .el-menu-item {
      height: 66px;
      font-family: Microsoft YaHei;
      font-size: 20px;
      font-weight: 400;
      line-height: 66px;
      color: $menuText;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      position: relative;
      padding: 0 !important;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 16px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      & > .el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        & > .el-submenu__title {
          & > span {
            display: inline-block;
            width: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      margin-left: 0;
    }

    .sidebar-container {
      width: $sideBarWidth !important;
      transition: transform 0.28s;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transform: translate3d(-$sideBarWidth, 0, 0);
        transition-duration: 0.3s;
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}

// 一个完整 ul 结构
.el-menu {
  width: 100% !important;
  height: 100%;
  background: $menuBg, $noise !important;
  border: none;

  // 无子菜单
  .el-menu-item.submenu-title-noDropdown {
    height: 66px;
    font-family: Microsoft YaHei;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 66px;
    color: $menuText;
    background: $menuBg, $noise !important;

    // active
    &.is-active {
      color: $menuActiveText !important;
      background: $menuActiveBg !important;
      border-right: 4px solid $menuBorderBg;
      // color: red !important;
      // background: yellow !important;
      // border-right: 4px solid green;
    }

    // hover
    &:hover {
      color: $subMenuHoverText !important;
      background-color: $subMenuHoverBg !important;
      border-right: 4px solid $menuBorderBg;
      // color: white !important;
      // background-color: black !important;
      // border-right: 4px solid pink;
    }
  }

  // 有子菜单
  .el-submenu {
    // 顶级菜单标题
    .el-submenu__title {
      font-size: 16px;
      // 未展开，子菜单未选中的状态
      color: $subMenuText !important;
      background: rgba(0, 0, 0, 0) !important;

      // 二级菜单的下拉三角箭头
      i {
        color: $subMenuText;
      }

      // color: red !important;
      // background-color: lightpink !important;
    }

    // 展开后的容器背景色
    .el-menu {
      background: $subMenuBg !important;
      // background-color: orange !important;
    }
    // active某个子菜单，其父菜单样式
    &.is-active .el-submenu__title {
      color: $subMenuParentActiveText !important;
      background: $subMenuParentActiveBg !important;

      i {
        color: $subMenuParentActiveText;
      }
    }
  }

  // 嵌套菜单
  .nest-menu {
    // 如果嵌套菜单下还有嵌套菜单，则所有子菜单默认背景黑色
    .el-submenu {
      & > .el-submenu__title {
        color: $subMenuText !important;
        background: $subMenuBg !important;

        i {
          color: $subMenuText;
        }
      }

      // 选中嵌套菜单，上层菜单高亮
      &.is-active {
        & > .el-submenu__title {
          color: $subMenuText !important;
          background: $subMenuParentActiveBg !important;

          i {
            color: $subMenuText;
          }
        }
      }
    }

    .el-menu-item {
      font-size: 16px !important;
      color: $menuText !important;
      background: $subMenuBg !important;
      // color: black !important;
      // background: white !important;
      // active
      &.is-active {
        color: $menuActiveText !important;
        background: $menuActiveBg !important;
        border-right: 4px solid $menuBorderBg;
        // color: red !important;
        // background: yellow !important;
        // border-right: 4px solid green;
      }

      // hover
      &:hover {
        color: $subMenuHoverText !important;
        background: $subMenuHoverBg !important;
        // color: pink !important;
        // background-color: lemonchiffon !important;
      }
    }
  }
}
